apiVersion: apps/v1
kind: Deployment
metadata:
  name: hrgf-app
  labels:
    app: hrgf-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hrgf-app
  template:
    metadata:
      labels:
        app: hrgf-app
    spec:
      containers:
        - name: hrgf-app
          image: us-central1-docker.pkg.dev/hrgf-gcp-devops-project/hrgf-app/hrgf-app:v1
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5

